<% content_for :title do %>Notes<% end %>
<% content_for :body do %>
  <div class="row">
    <%# cards width %>
    <div class="col-9 mx-auto">
      <div class="row">
        <div class="col-4 p-2" style="height: 18rem;">
          <div class="card bg-warning h-100">
            <div class="card-header h3 text-truncate">
              <a class="stretched-link text-decoration-none text-dark" href="/notes/stats">Statistics</a>
            </div>
            <div class="card-body text-truncate">
              <div class="card-text pb-2 text-truncate">Notes number: <%= @stats.notes_number %></div>
              <div class="card-text text-truncate">Tags number: <%= @stats.tags_number %></div>
            </div>
          </div>
        </div>
        <div class="col-4 p-2" style="height: 18rem;">
          <div class="card bg-warning h-100">
            <div class="card-header h3">
              <a class="stretched-link text-decoration-none text-dark" href="/notes/tags">Tags</a>
            </div>
            <div class="card-body text-truncate">
              <% @stats.all_tags.each do |tag| %>
                <div class="card-text pb-1 text-truncate">
                  <button class="btn btn-sm btn-dark text-warning border-0"><%= tag %></button>:
                  <% @stats.notes_with_tag(tag).each do |id| %>
                    [<%= id %>]
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <div class="col-4 p-2" style="height: 18rem;">
          <div class="card bg-warning h-100">
            <a class="stretched-link text-decoration-none text-dark" href="/notes/new">
              <div class="card-header h3 text-truncate">Add note</div>
              <div class="card-body d-flex align-items-center justify-content-center h-100">
                <i class="material-icons" style="font-size:96px;">add_circle</i>
              </div>
            </a>
          </div>
        </div>
        <% @notes.reverse_each do |note| %>
          <div class="col-4 p-2" style="height: 18rem;">
            <div class="card bg-warning h-100">
              <div class="card-header h3 text-truncate">
                <a class="stretched-link text-decoration-none text-dark" href="/notes/<%= note.id %>"><%= note.title %></a>
              </div>
              <div class="card-body text-truncate">
                <div class="card-text pb-4 text-truncate">
                  <% note.tags.each do |tag| %>
                    <button class="btn btn-sm btn-dark text-warning border-0"><%= tag %></button>
                  <% end %>
                </div>
                <div class="card-text pb-4 text-truncate"><%= note.content %></div>
                <div class="card-text text-truncate">
                  <strong>References:</strong>
                  <% note.references.each do |id| %>
                    [<%= id %>]
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
