<div class="modal-header d-flex flex-column border-0">
  <div>
    <%= @note.title %>
  </div>
</div>
<div class="modal-body">
  <%= @note.tags %>
  <%= @note.content %>
  <%= @note.references %>
</div>

<div class="modal-header d-flex flex-column border-0" data-note-id="<%= @note.id %>">
  <div class="d-flex w-100">
    <div class="h4 mr-auto"><%= @note.title %></div>
    <div>
      <i type="button" class="material-icons" id="confirm-editing">done</i>
    </div>
    <div class="px-1">
      <i type="button" class="material-icons" id="delete-note">delete</i>
    </div>
    <div>
      <i type="button" class="material-icons" data-dismiss="modal">cancel</i>
    </div>
  </div>
  <small class="text-muted"><%= Time.parse(@note.id.to_s).strftime('%B %-d, %Y') %></small>
</div>
<div class="modal-body">
  <div style="line-height: 2;">
    <% @note.tags.each do |tag| %>
      <button data-search-tag="<%= ERB::Util.url_encode(tag) %>" class="btn btn-sm btn-dark text-light border-0"><%= tag %></button>
    <% end %>
  </div>
  <div class="py-4">
    <%= @note.content %>
  </div>
  <div>
    <em>References:</em>
    <% @note.references.each do |id| %>
      <a href="javascript:void(0)" class="text-reset" title="<%= @titles[id] %>" data-ref-id="<%= id %>">[<%= @titles[id].length > 14 ? @titles[id].slice(0, 14) + '...' : @titles[id] %>]</a>
    <% end %>
  </div>
</div>
