<div class="row">
  <%# cards width %>
  <div class="col-10 mx-auto">
    <div class="row justify-content-center">
      <% @notes.reverse_each do |note| %>
        <div class="col-3 p-2" style="height: 15rem;">
          <div class="card bg-light h-100 border-0">
            <a class="text-decoration-none text-dark open-note" id="<%= note.id %>" href="javascript:void(0)">
              <%# <div type="button" class="card-header h4 text-truncate border-0 open-note" id=""></div> %>
              <div class="card-header h4 text-truncate border-0" ><%= note.title %></div>
            </a>
            <div class="card-body d-flex flex-column justify-content-between p-3">
              <div class="card-text text-truncate p-1">
                <% note.tags.each do |tag| %>
                  <button class="btn btn-sm btn-dark text-light border-0"><%= tag %></button>
                <% end %>
              </div>
              <div class="card-text text-truncate p-1"><%= note.content %></div>
              <div class="card-text text-muted p-1">
                <small><%= Time.parse(note.id.to_s).strftime('%B %-d, %Y')%></small>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="modal fade">
</div>
