<% content_for :title do %>Notes | <%= @note.title %><% end %>
<% content_for :body do %>
  <div class="row">
    <div class="col-5 mx-auto">
      <div class="card bg-warning" style="min-height: 28rem;">
        <div class="container card-header">
          <div class="row">
            <div class="col-9 h3"><%= @note.title %></div>
            <div class="col-3">
              <div class="row">
                <div class="col pl-auto pr-0">
                  <a class="text-secondary" href="/notes/<%= @note.id %>/edit">
                    <i class="material-icons">edit</i>
                  </a>
                </div>
                <div class="col px-0">
                  <form action="/notes/<%= @note.id %>" method="post">
                    <input type="hidden" name="id" value="<%= @note.id %>">
                    <input type="hidden" name="_method" value="delete">
                    <a type="button" class="text-secondary" onclick="this.closest('form').submit()"><i class="material-icons">delete</i></a>
                  </form>
                </div>
                <div class="col px-0">
                  <a class="text-secondary" href="/notes">
                    <i class="material-icons">cancel</i>
                  </a>
                </div>
              </div>
            </div>
            <small class="col text-muted">created on <%= Time.parse(@note.id.to_s).strftime('%B %-d, %Y')%></small>
          </div>
        </div>
        <div class="card-body">
          <div class="card-text pb-4" style="line-height: 2;">
            <% @note.tags.each do |tag| %>
              <a href="/notes?tags=<%= ERB::Util.url_encode(tag) %>" class="btn btn-sm btn-dark text-warning border-0"><%= tag %></a>
            <% end %>
          </div>
          <div class="card-text pb-4"><%= @note.content %></div>
          <div class="card-text">
            <strong>References:</strong>
            <% @note.references.each do |id| %>
              <a href="/notes/<%= id %>" class="text-reset">[<%= id %>]</a>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
