<div class="modal-header d-flex flex-column border-0">
  <div class="d-flex w-100">
    <div class="flex-fill h4">Tags</div>
    <div class="pl-2 pt-1">
      <i type="button" class="material-icons-round" data-dismiss="modal">cancel</i>
    </div>
  </div>
  <small class="text-muted">Tags number: <%= @stats.tags_number %></small>
</div>
<div class="modal-body">
  <% @stats.all_tags.each do |tag| %>
    <div class="pb-1">
      <button data-search-tag="<%= ERB::Util.url_encode(tag) %>" class="btn btn-sm btn-dark text-light border-0"><%= tag %></button>
      <% @stats.notes_with_tag(tag).each do |id| %>
        <a href="javascript:void(0)" class="text-reset" title="<%= @titles[id] %>" data-ref-id="<%= id %>">[<%= @titles[id].length > 14 ? @titles[id].slice(0, 14) + '...' : @titles[id] %>]</a>
      <% end %>
    </div>
  <% end %>
</div>
